.quoteWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: black;
}

.quoteText {
  font-family: "Microsoft Sans Serif", Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 20px;
  max-width: 60%;
}
