.quoteWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
  background: black;
}

.quoteText {
  font-size: 1.75rem;
  font-weight: 300;
  color: white;
  margin-top: 220px;
  max-width: 60%;
}
