.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: #ddd4d4;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  padding: 50px;
}

.mainText {
  margin-bottom: 25px;
}

.form {
  padding: 10px;
  font-size: 18px;
  width: 300px;
  border-radius: 25px;
  border: 2px solid #ddd4d4;
  background-color: #1a1a1a;
  color: #ddd4d4;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.form:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.6);
}

.character {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 600px;
  overflow-x: hidden;
}

.character-container {
  display: inline-block;
  max-width: 100px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.submitButton {
  margin-left: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 25px;
}

.submitButton:hover {
  background-color: #3e82cf;
}

.submitButton.active {
  background-color: white;
  color: white;
  border: 1px solid #3e82cf;
}

.submitButton.active:hover {
  background-color: #3e82cf;
}
