.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f0f0f;
  color: #ddd4d4;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  padding: 50px;
}

.mainText {
  margin-bottom: 25px;
}

.form {
  padding: 10px;
  size: 16px;
}

.character {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 500px;
  overflow-x: hidden;
}

.character-container {
  display: inline-block;
  max-width: 100px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}
