.app {
  font-family: "Microsoft Sans Serif", Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  border-bottom: #171717 1px solid;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
}

.headerContainer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 60px;
}

.h1 {
  font-family: "Microsoft Sans Serif", Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin: 0;
}

.h2 {
  font-family: "Microsoft Sans Serif", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 0;
}

.menuContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-right: 65px;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-bottom: 50px;
}

.link {
  text-decoration: none;
  color: inherit;
  margin: 0 10px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 767px) {
  .headerContainer1 {
    padding: 0 15px;
  }

  .h1 {
    font-size: 16px;
  }

  .menuContainer {
    justify-content: flex-end;
    margin-right: 0;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
  }

  .hamburger span {
    height: 2px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
    display: block;
  }
  .navLinks {
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    background-color: black;
    border: 1px solid white;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .navLinks.open {
    opacity: 1;
    visibility: visible;
    display: flex;
  }

  .h2 {
    font-size: 16px;
    margin: 15px 0;
  }

  .link {
    margin: 10px 0;
  }

  .navLinks {
    display: none;
  }
}
