.app {
  background-color: #0f0f0f;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: #d5dadb 1px solid;
  padding: 10px 20px;
  justify-content: space-between;
}

.headerContainer1 {
  display: flex;
  width: 100%;
}

.headerContainer2 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.h1 {
  font-size: 2.5rem;
  color: #d5dadb;
  margin: 10px 10px 5px 20px;
}

.h2 {
  font-size: 1.5rem;
  color: white;
  margin: 22px 0px 0px 15px;
}

.h2b {
  font-size: 1.5rem;
  color: white;
  margin: 15px 20px 10px 30px;
}

.link {
  text-decoration: none;
  color: inherit;
  margin: 0px 10px;
  padding: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}

.button {
  background-color: #0f0f0f;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  margin: 0px 8px;
  cursor: pointer;
}
