.app {
  font-family: "Microsoft Sans Serif", Arial, sans-serif;
  background-color: black;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: #171717 1px solid;
  justify-content: space-between;
  height: 50px;
}

.headerContainer1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.h1 {
  font-family: "Microsoft Sans Serif", Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin: 10px 10px 10px 60px;
}

.h2 {
  font-family: "Microsoft Sans Serif", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 13px 10px 5px 10px;
}

.navLinks {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 120px;
}

.link {
  text-decoration: none;
  color: inherit;
  margin: 0px 10px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}

.button {
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  margin: 0px 8px;
  cursor: pointer;
}

.p {
  color: #0f0f0f;
}

@media screen and (max-width: 767px) {
  .h1 {
    font-size: 16px;
  }

  .h2 {
    font-size: 12px;
  }

  .button {
    font-size: 0.9rem;
    padding: 8px 15px;
  }

  .navLinks {
    margin-right: 0;
    justify-content: space-around;
  }

  .link {
    margin: 0 5px;
  }

  .buttonContainer {
    justify-content: center;
    margin: 5px;
  }
}
