.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  text-align: left;
  padding: 0;
  background-color: #0f0f0f;
}

h1 {
  color: white;
  font-size: 3rem;
  margin-left: 1rem;
  padding-top: 1.3rem;
}

.title {
  font-size: 4.5rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  animation: moveUp 0.9s ease-out forwards;
}

.gradientText {
  background: linear-gradient(45deg, #ff6e7f, #bfe9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  position: relative;
}

.subtitle {
  font-size: 2.1rem;
  font-weight: 500;
  color: #ddd4d4;
  max-width: 700px;
  margin-bottom: 40px;
  text-align: center;
  margin: 25px 40px 40px 40px;
  animation: moveUp 0.9s ease-out forwards;
}

.button {
  background: linear-gradient(45deg, #ff6e7f, #bfe9ff);
  color: white;
  border: none;
  padding: 15px 25px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
  margin-bottom: 3.5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  color: #3d494c;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 1000px;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 3rem;
    text-align: center;
  }

  .subtitle {
    font-size: 1.5rem;
    text-align: center;
  }

  .heroImage {
    max-height: 500px;
  }

  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: calc(10px + 2vmin);
    min-height: 100vh;
    text-align: left;
    padding: 1rem;
    background-color: #0f0f0f;
  }
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ff6e7f;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .title {
    margin-top: 1rem;
    font-size: 2.5rem;
    max-width: 800px;
  }

  .subtitle {
    font-size: 1.8rem;
    color: #ebe3e3;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    margin-top: 1rem;
    font-size: 4.5rem;
    max-width: 800px;
    text-align: center;
  }

  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: calc(10px + 2vmin);
    min-height: 100vh;
    text-align: left;
    padding: 0rem;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background-color: #0f0f0f;
  }

  .heroImage {
    width: 1000px;
    height: 1000px;
    margin-bottom: 5rem;
  }

  .wrapper {
    min-height: 100vh;
  }
}

@keyframes moveUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
