.container {
  margin: 20px;
}

.input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.typedText {
  font-size: 16px;
  color: blue;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0;
}
